.sidebarWai {
      position: fixed;
      left: -180px;
      top: 0;
      height: 100%;
      width: 78px;
      background: #fff;
      padding: 6px 14px;
      z-index: 88;
      transition: all 0.5s ease;
      box-shadow: 10px -1px 8px -7px rgba(171, 171, 171, 0.75);
      -webkit-box-shadow: 10px -1px 8px -7px rgba(171, 171, 171, 0.75);
      -moz-box-shadow: 10px -1px 8px -7px rgba(171, 171, 171, 0.75);
    }

    .sidebarWai.open {
      width: 250px;
      left: 0 !important;
    }

    .sidebarWai .logo-details {
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
    }

    .sidebarWai .logo-details .icon {
      opacity: 0;
      transition: all 0.5s ease;
    }

    .sidebarWai .logo-details .logo_name {
      color: #232e3c;
      font-size: 18px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease;
    }

    .sidebarWai.open .logo-details .icon,
    .sidebarWai.open .logo-details .logo_name {
      opacity: 1;
    }

    .sidebarWai .logo-details #btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
      transition: all 0.4s ease;
      font-size: 23px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    .sidebarWai.open .logo-details #btn {
      text-align: right;
    }

    .sidebarWai ol,
    ul {
      padding-left: 0rem;
    }

    .sidebarWai i {
      color: #232e3c;
      height: 60px;
      min-width: 50px;
      font-size: 28px;
      text-align: center;
      line-height: 60px;
    }

    .sidebarWai i.bx.bx-menu-alt-right {
      display: content;
    }

    .sidebarWai i.bx.bx-menu {
      display: none;
    }

    .sidebarWai .nav-list {
      margin-top: 20px;
      height: 100%;
    }

    .sidebarWai li {
      position: relative;
      margin: 8px 0;
      list-style: none;
    }

    .sidebarWai li .tooltip {
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 3;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: 0s;
    }

    .sidebarWai li:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s ease;
      top: 50%;
      transform: translateY(-50%);
    }

    .sidebarWai.open li .tooltip {
      display: none;
    }

    .sidebarWai input {
      font-size: 15px;
      color: #FFF;
      font-weight: 400;
      outline: none;
      height: 50px;
      width: 100%;
      width: 50px;
      border: none;
      border-radius: 12px;
      transition: all 0.5s ease;
      background: #1d1b31;
    }

    .sidebarWai.open input {
      padding: 0 20px 0 50px;
      width: 100%;
    }

    .sidebarWai .bx-search {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 22px;
      background: #1d1b31;
      color: #FFF;
    }

    .sidebarWai.open .bx-search:hover {
      background: #1d1b31;
      color: #FFF;
    }

    .sidebarWai .bx-search:hover {
      background: #a23c3c;
      color: #284366;
    }

    .sidebarWai li a {
      display: flex;
      /*height: 100%;*/ 
      width: 100%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
      background: #ffffff;
    }

    .sidebarWai li a:hover {
      background: #009688;
    }

    .sidebarWai li a .links_name {
      color: #232e3c;
      font-size: 15px;
      font-weight: 400;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: 0.4s;
    }

    .sidebarWai.open li a .links_name {
      opacity: 1;
      pointer-events: auto;
    }

    .sidebarWai li a:hover .links_name,
    .sidebarWai li a:hover i {
      transition: all 0.5s ease;
      color: #ffffff;
    }

    .sidebarWai li i {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-radius: 12px;
	  
	  justify-content: center;
	  align-content: center;
	  align-items: center;
	  display: flex;
    }

    .sidebarWai li.profile {

      position: fixed;
      height: 60px;
      width: 78px;
      left: -0;
      bottom: 48px;
      padding: 10px 14px;
      background: #009688;
      transition: all 0.5s ease;
      overflow: hidden;
    }

    .sidebarWai.open li.profile {
      width: 250px;
      left: 0px;
    }

    .sidebarWai li .profile-details {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .sidebarWai li img {
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 6px;
      margin-right: 10px;
    }

    .sidebarWai li.profile .name,
    .sidebarWai li.profile .job {
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      white-space: nowrap;
    }

    .sidebarWai li.profile .job {
      font-size: 12px;
    }

    .sidebarWai .profile #log_out {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: #fff;
      width: 100%;
      height: 60px;
      line-height: 60px;
      border-radius: 0px;
      transition: all 0.5s ease;
    }

    .sidebarWai.open .profile #log_out {
      width: 50px;
      background: none;
    }

    .home-section {
      position: relative;
      background: #E4E9F7;
      min-height: 100vh;
      top: 0;
      left: 78px;
      width: calc(100% - 78px);
      transition: all 0.5s ease;
      z-index: 2;
    }

    .sidebarWai.open~.home-section {
      left: 250px;
      width: calc(100% - 250px);
    }

    .home-section .text {
      display: inline-block;
      color: #11101d;
      font-size: 25px;
      font-weight: 500;
      margin: 18px
    }

    @media (max-width: 1220px) {
      .sidebarWai li .tooltip {
        display: none;
      }

      .sidebarWai li.profile {
        left: -78px;
      }

      .sidebarWai {
        left: -78px !important;
      }

    }
	.navbar-toggler:focus {
  box-shadow:0 0 0 0;
  outline:0;
  text-decoration:none
}