<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
	
Nama saya Hilfi
<div >Survei ini menggunakan metode wawancara tatap muka. Dengan metode multistage random sampling, survei melibatkan 1.220 responden.</div>
<div >Survei ini menggunakan metode wawancara tatap muka. Dengan metode multistage random sampling, survei melibatkan 1.220 responden.</div>
<span>Span 1</span>
<span>Span 2</span>
<p>Hasl survei Charta Politika, persaingan calon presiden mengerucut ke dua tokoh. Yakni, Ganjar Pranowo dan Anies Baswedan.</p>
<p>Adapun survei Charta Politika ini diselenggarakan pada 4-12 November 2022.</p>

<form action="send.php" method="get" >
	
<div>
	<label>Nama Lengkap</label>
	<input type="text" placeholder="Nama Lengkap" value="" name="nama_lengkap">
</div>
<div>
	
	<label>Password</label>
	<input type="password" placeholder="" value="" name="password">
</div>
<div>
	<label>Email</label>
	<input type="email" placeholder="" value="" name="Email">

</div>
<div>
	<input type="number" placeholder="" value="" name="no_telp">
</div>
<div>
	<input type="date" placeholder="" value="" name="NAMA_PANGILAN">
</div>
<div>
	<input type="time" placeholder="" value="" name="NAMA_PANGILAN">
</div>
<div>
	<input type="radio" placeholder="" value="" name="radio"> Laki Laki
	<input type="radio" placeholder="" value="" name="radio"> Perempuan
</div>
<div>	<input type="checkbox" placeholder="" value="" name="radio"> Videographer
	<input type="checkbox" placeholder="" value="" name="radio"> potografer
	<input type="checkbox" placeholder="" value="" name="radio"> Treveling
	<br>
	<select type="time" placeholder="" value="" name="NAMA_PANGILAN">
		<option>Select 1</option>
		<option>Select 2</option>
	</select>
</div>

<button type="submit">Submit</button>
</form>


<form action="send.php" method="post" >
	
<div>
	<label>Nama Lengkap</label>
	<input type="" placeholder="" value="" name="nama_lengkap">
	
</div>
<button type="submit">Submit</button>
</form>

	</body>
</html>